body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*---------------LOGIN-----------------*/

.contenedor_login{
    width: 100vw;
    height: 100vh;
    background-color: #42cd10;
    text-align: center;
}

.logo_sena {
    margin-top: 100px;
}

.titulo_login {
    color: white !important;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    font-size: 50px !important;
}

.form_login {
    margin-right: 20px;
}

.label_login {
    color: white;
    font-size: 20px;
}

.contenedor_input_login {
    display: flex;
    justify-content: center;
}

.inputs_login {
    width: 20em !important;
}

#correo {
    margin-left: 17px;
}

#contrasena {
    margin-left: 80px;
}

.olvidaste_contrasena {
    text-decoration: none;
    color: #FFFFFF;
}

.olvidaste_contrasena:hover {
    color:#e6e6e6
}

.ingresar {
    color: #FFFFFF !important;
    background-color: transparent;
    border: 5px solid #FFFFFF !important;
    border-radius: 30px !important;
}

.ingresar:hover {
    color:#e6e6e6 !important;
    background-color: rgb(50, 158, 11) !important;
}
/*-----------------FIN LOGIN--------------------*/

/*----------------MENU PRINCIPAL----------------*/

.barra_navegacion {
    background-color: #94bf84 !important;
    position: fixed !important; /* Fijar la barra de navegación */
    width: 100%; /* Ocupar todo el ancho */
    z-index: 1000;
}

#boton_offcanvas {
    border: 0 solid transparent;
    background-color: transparent;
}

#contenedor_sidebar {
    height: 100vh;
    width: 250;
    visibility: visible;
    transition: width 0.3s ease-in-out, visibility 0.2s ease; 
    max-width: 290px;
    position: fixed;
    background-color: #42cd10 !important;
    z-index: 1000;
    margin-top: 50px;
}

.sidebar_botones {
    border: 5px solid white;
    border-radius: 30px;
    margin-bottom: 30px;
    transition: width 0.01s ease-in-out; /* Agrega la transición a los botones */
}

.sidebar_botones:hover {
    background-color: #e6e6e6;
    color: #000000 !important;
    width: 100%; /* Ajusta el ancho en hover */
}

.sidebar_botones a:hover {
    color: #000000 !important;

}

.sidebar_contraida #contenedor_sidebar {
    width: 0; /* Ancho cero cuando está contraída */
}

.sidebar_abierta #contenedor_sidebar {
    width: 250px; /* Ancho deseado cuando está abierta */
}

#menu_sidebar {
    overflow-y: auto;
    max-height: 100vh;
    scrollbar-width: thin;
    /* Grosor del scroll */
    scrollbar-color: #8F82B7 #ffffff;
    /* Color del scroll */
}

.usuario_configuracion {
    bottom: 5px;
    position: fixed;
    text-align: center;
}

.hr-grueso {
    background-color: #FFFFFF !important;
    border: none;
    width: auto !important;
    height: 7px !important;
}


/* Menú principal */
#contenedor_principal {
    transition: margin-left 0.3s ease-in-out;
    background-color: #000000;
    z-index: 1;
    height: 100vh;
    margin-top: 3rem;
    justify-content: center !important;
    max-width: 100vw;
    overflow-x: scroll !important;
    margin-left: 290px;
}
/* Gráficas */

.contenedor_diagramas {
    display: flex;
    justify-content: center !important;
    gap: 100px;

}

.board {
    margin: 10px;
    width: 40%;
    height: 300px;
    background-color: #42cd10;
    padding: 10px;
    padding-bottom: 30px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 30px;
}

.titulo_grafica {
    margin: 10px;
    color: #FFFFFF;
    width: 100%;
    height: 10%;
    text-align: center;
}

.titulo_grafica>h3 {
    padding: 0;
    margin: 0px;
    text-align: center;
    color: #666666;
}

.sub_board {
    width: 100%;
    height: 90%;
    padding-bottom: 40px;
    background-color: #f4f4f4;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 20px;
}

.sep_board {
    width: 100%;
    height: 10%;
}

.cont_board {
    width: 100%;
    height: 80%;
}

.graf_board {
    width: 85%;
    height: 100%;
    float: right;
    margin-top: 0px;
    background-color: darkgrey;
    border-left: 2px solid #999999;
    border-bottom: 2px solid #999999;
    box-sizing: border-box;
    display: flex;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 9.5%, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0) 10.5%,
            rgba(0, 0, 0, 0) 19.5%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0) 20.5%,
            rgba(0, 0, 0, 0) 29.5%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0) 30.5%,
            rgba(0, 0, 0, 0) 39.5%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0) 40.5%,
            rgba(0, 0, 0, 0) 49.5%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 50.5%,
            rgba(0, 0, 0, 0) 59.5%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0) 60.5%,
            rgba(0, 0, 0, 0) 69.5%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 70.5%,
            rgba(0, 0, 0, 0) 79.5%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0) 80.5%,
            rgba(0, 0, 0, 0) 89.5%, rgba(0, 0, 0, 0.3) 90%, rgba(0, 0, 0, 0) 90.5%,
            rgba(0, 0, 0, 0) 100%);

    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 9.5%, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0) 10.5%,
            rgba(0, 0, 0, 0) 19.5%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0) 20.5%,
            rgba(0, 0, 0, 0) 29.5%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0) 30.5%,
            rgba(0, 0, 0, 0) 39.5%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0) 40.5%,
            rgba(0, 0, 0, 0) 49.5%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 50.5%,
            rgba(0, 0, 0, 0) 59.5%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0) 60.5%,
            rgba(0, 0, 0, 0) 69.5%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 70.5%,
            rgba(0, 0, 0, 0) 79.5%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0) 80.5%,
            rgba(0, 0, 0, 0) 89.5%, rgba(0, 0, 0, 0.3) 90%, rgba(0, 0, 0, 0) 90.5%,
            rgba(0, 0, 0, 0) 100%);

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 9.5%, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0) 10.5%,
            rgba(0, 0, 0, 0) 19.5%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0) 20.5%,
            rgba(0, 0, 0, 0) 29.5%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0) 30.5%,
            rgba(0, 0, 0, 0) 39.5%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0) 40.5%,
            rgba(0, 0, 0, 0) 49.5%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 50.5%,
            rgba(0, 0, 0, 0) 59.5%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0) 60.5%,
            rgba(0, 0, 0, 0) 69.5%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 70.5%,
            rgba(0, 0, 0, 0) 79.5%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0) 80.5%,
            rgba(0, 0, 0, 0) 89.5%, rgba(0, 0, 0, 0.3) 90%, rgba(0, 0, 0, 0) 90.5%,
            rgba(0, 0, 0, 0) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=0);
}

.barra {
    width: 100%;
    height: 100%;
    margin-right: 15px;
    margin-left: 15px;
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.sub_barra {
    width: 100%;
    height: 80%;
    background: #00799b;
    background: -moz-linear-gradient(top, #00799b 0%, #64d1be 100%);
    background: -webkit-linear-gradient(top, #00799b 0%, #64d1be 100%);
    background: linear-gradient(to bottom, #00799b 0%, #64d1be 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00799b', endColorstr='#64d1be', GradientType=0);

    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.tag_g {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    text-align: center;
    margin-top: -20px;
    z-index: 2;
}

.tag_leyenda {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.tag_board {
    height: 100%;
    width: 15%;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.sub_tag_board {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.sub_tag_board>div {
    width: 100%;
    height: 10%;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
}

.b1 {
    height: 35%
}

.b2 {
    height: 45%
}

.b3 {
    height: 55%
}

.b4 {
    height: 75%
}

.b5 {
    height: 90%
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-family: sans-serif;
}
